@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&display=swap');

body {
    font-family: "Barlow", sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
  }
  
  .about-me {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .about-me p {
    line-height: 1.5;
    margin-bottom: 10px;
  }
  
  .about-me h2 {
    color: #333;
    margin-top: 0;
  }
  
  .about-me ul {
    list-style: none;
    padding: 0;
  }
  
  .about-me ul li {
    margin-bottom: 5px;
  }
  
  .about-me a {
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .about-me a:hover {
    color: #666;
  }
  
  .contact-form {
    margin-top: 20px;
  }
  
  .contact-form input,
  .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .contact-form button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .contact-form button:hover {
    background-color: #666;
  }